[buildout]
parts = app test
develop = .

[app]
recipe = zc.recipe.egg
eggs = z3c.evalexception
       Paste
       PasteScript
       PasteDeploy

[test]
recipe = zc.recipe.testrunner
eggs = z3c.evalexception[test]
